       .hard{
        position:absolute;
        float:left;
        width:15%;
        margin-left:10px;
        margin-top:10px;
        color:black;
        margin-bottom: 0px;
        }

        .work{
        position:absolute;
        float:left;
        width:15%;
        margin-left:235px;
        margin-top:10px;
        color: black;
        margin-bottom: 0px;

        }

        .calen{

        position:absolute;
        float:left;
        width:15%;
        margin-left:460px;
        margin-top:0px;
        color: black;
        margin-bottom: 0px;
        margin-top: 10px;
}

        .drange{
        position:absolute;
        float:left;
        width:13%;
        margin-left:680px;
        margin-top:0px;
        color: black;
        margin-bottom: 0px;
        margin-top: 10px;
        }

        .Sto{
        position:absolute;
        margin-left: 1130px;
        margin-top:45px;
        border-radius: 6px;
        border: 2px solid lightblue;
        transition-duration: 0.4s;
        }

        .Vol{
        position:absolute;
        margin-left: 1290px;
        margin-top:45px;
        border-radius: 6px;
        border: 2px solid lightblue;
        transition-duration: 0.4s;
        }

        h4{
            margin-top:0px;
            margin-bottom: 3px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        }

        p{
            font-size:14px;
        }

        .sbut{
            position:absolute;
            margin-left: 880px;
            margin-top:30px;
            border-radius: 10px;
            border: 2px solid skyblue;
            transition-duration: 0.4s;
            width: 80px;
            height: 30px;
            font-size: 18px;
        }

        .sbut:hover{
                background: lightblue;
        }

        :host ::ng-deep .ui-multiselect {
            min-width: 15em;
        }
        :host ::ng-deep .ui-multiselected-item-token,
        :host ::ng-deep .ui-multiselected-empty-token {
            padding: 2px 4px;
            margin: 0 0.286em 0 0;
            display: inline-block;
            vertical-align:middle;
            height: 1.857em;
        }
        :host ::ng-deep .ui-multiselected-item-token {
            background: #007ad9;
            color: #ffffff;
        }
        :host ::ng-deep .ui-multiselected-empty-token {
            background: #d95f00;
            color: #ffffff;
        }

        .almost{
            position:absolute;
            margin-top:70px;
        }

        .motion{
            margin-left:33%;
        }

        .sbutMini{
            border-radius: 6px;
            border: 2px solid skyblue;
            transition-duration: 0.4s;
            height: 25px;
        }

        .sbutMini:hover{
                background: lightblue;
        }

        .vitaly{
            position:relative;
            margin-left:5%;
            display:inline-block;
        }

        /* .turbo{
            position:absolute;
            margin-top:200px;
        } */

        /* :host ::ng-deep .ui-tabview-nav{
            height:3px;
        } */