<div class="hard">
    <h4>Filter By Company</h4>
    <p-multiSelect [options]="companies" [(ngModel)]="selectedCompanies" [virtualScroll]="true" [filter]="true" ></p-multiSelect>
</div>

<div class="work">
<h4>Filter By Sector</h4>
<p-multiSelect [options]="sectors" [(ngModel)]="selectedSectors" [virtualScroll]="true" [filter]="true" ></p-multiSelect>
</div>
<div class="calen">
    <h4>Filter By Time Range</h4>
    <p-calendar (onClickOutside)="calcli($event)" (onClose)="calcli($event)" [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" [showIcon]="true"></p-calendar>
</div>
<div class="drange">
    <h4>Filter By Group</h4>
    <p-dropdown (onClick)="checkCov()"  [options]="datesmodef" [(ngModel)]="selectedDate" placeholder="-- Select --" optionLabel="name"></p-dropdown>
</div>
<button class="sbut" [disabled]="dest" (click)="sendSelected();sendSelectedSector(); setModeG(); shouldTime(); sendDatesGrid(); sendDates()"><b>Apply</b></button>

<!-- <div *ngIf="choose===false; else dhairya"> 
    <div class="almost">
    <p-tabView>
        <p-tabPanel header="GRID">
            <app-grid-base></app-grid-base>
        </p-tabPanel>
        <p-tabPanel header="GRAPHS">
            <p-tabView>
                <p-tabPanel header="BAR GRAPH"> 
                <p-dropdown (onClick)="soft($event); setchoose()" [options]="Mode" [(ngModel)]="selectedModel" placeholder="Select a Mode"></p-dropdown>
                </p-tabPanel>
                <p-tabPanel header="LINE GRAPH">
                <p-dropdown (onClick)="soft($event); setchoose()" [options]="Mode" [(ngModel)]="selectedModel" placeholder="Select a Mode"></p-dropdown>
                </p-tabPanel>
            </p-tabView>
        </p-tabPanel>
    </p-tabView>
</div>
    
</div> -->

<div class="almost">
    <p-tabView> 
        <p-tabPanel header="GRID" [headerStyle]="{'height':'28px'}" >
        <div class="stunt">
            <div class="haunter">
                <app-grid-base></app-grid-base>
            </div>
        </div>
        </p-tabPanel>
        <p-tabPanel header="GRAPHS" [headerStyle]="{'height':'28px'}" >
         <div class="stunt">
            <div class="haunter">
                <p-tabView>
                    <p-tabPanel header="BAR GRAPH" [headerStyle]="{'height':'28px'}">
                        <p-dropdown (onChange)="soft($event)" [options]="Mode" [(ngModel)]="selectedModel"></p-dropdown>       
                         <div *ngIf="toll===true" class="vitaly">
                             <p-dropdown (onChange)="soft($event)" [options]="Friday" [(ngModel)]="selectedFri"></p-dropdown>       
                        </div>
                        <br>
                        <br>
                        <div class="turbo">
                            <p-chart #chart type="bar" [data]="data2" [options]="options" width="80vw" height="63vh"></p-chart>
                            <div *ngIf="atom===true" class="motion">
                                <p-calendar [(ngModel)]="date1" [showIcon]="true" ></p-calendar>
                                <button class="sbutMini" (click)="oneDate(); shouldTransTime()" ><b>Change Trans Date</b></button>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="LINE GRAPH" [headerStyle]="{'height':'28px'}" >
                        <p-dropdown (onChange)="soft($event)" [options]="Mode" [(ngModel)]="selectedModel"></p-dropdown>
                        <div *ngIf="toll===true" class="vitaly">
                            <p-dropdown (onChange)="soft($event)" [options]="Friday" [(ngModel)]="selectedFri"></p-dropdown>       
                        </div>
                        <br>
                        <br>
                        <div class="turbo">
                            <p-chart #chartline type="line" [data]="data2"  [options]="options" width="80vw" height="63vh"></p-chart>
                            <div *ngIf="atom===true" class="motion">
                                <p-calendar [(ngModel)]="date1" [showIcon]="true" ></p-calendar>
                                <button class="sbutMini" (click)="oneDate(); shouldTransTime()" ><b>Change Trans Date</b></button>
                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </div>
         </div>
        </p-tabPanel>
    </p-tabView>
</div>