<div class="hard">
    <h4>Filter By Company</h4>
    <p-multiSelect [options]="companies" [(ngModel)]="selectedCompanies" [virtualScroll]="true" [filter]="true" ></p-multiSelect>
</div>

<div class="work">
<h4>Filter By Sector</h4>
<p-multiSelect [options]="sectors" [(ngModel)]="selectedSectors" [virtualScroll]="true" [filter]="true" ></p-multiSelect>
</div>
<div class="calen">
    <h4>Filter By Time Range</h4>
    <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" [showIcon]="true"></p-calendar>
</div>
<div class="drange">
    <h4>Filter By Group</h4>
    <p-dropdown [options]="datesmodef" [(ngModel)]="selectedDate" placeholder="-- Select --" optionLabel="name"></p-dropdown>
</div>
<button class="sbut" (click)="sendSelected();sendSelectedSector(); setModeG(); shouldTime(); sendDatesGrid(); sendDates()"><b>Apply</b></button>

<!-- <div *ngIf="choose===false; else dhairya">
    <div class="almost">
    <p-tabView>
        <p-tabPanel header="GRID">
            <app-grid-base></app-grid-base>
        </p-tabPanel>
        <p-tabPanel header="GRAPHS">
            <p-tabView>
                <p-tabPanel header="BAR GRAPH"> 
                <p-dropdown (onClick)="soft($event); setchoose()" [options]="Mode" [(ngModel)]="selectedModel" placeholder="Select a Mode"></p-dropdown>
                </p-tabPanel>
                <p-tabPanel header="LINE GRAPH">
                <p-dropdown (onClick)="soft($event); setchoose()" [options]="Mode" [(ngModel)]="selectedModel" placeholder="Select a Mode"></p-dropdown>
                </p-tabPanel>
            </p-tabView>
        </p-tabPanel>
    </p-tabView>
</div>
    
</div> -->

<!-- <ng-template #dhairya> -->
    <div class="almost">
        <p-tabView>
            <p-tabPanel header="GRID">
                <app-grid-base></app-grid-base>
            </p-tabPanel>
            <p-tabPanel header="GRAPHS">
                <p-tabView>
                    <p-tabPanel header="BAR GRAPH">
                        <p-dropdown (onClick)="setchoose(); soft($event)"  [options]="Mode" [(ngModel)]="selectedModel" placeholder="Select a Mode"></p-dropdown>       
                        <div *ngIf="choose===false; else dhairya1">
                        <!-- <p>Dhairya 1</p> -->
                        </div>
                        <ng-template #dhairya1>
                         <div  *ngIf="toll===true">
                             <p-dropdown (onClick)="soft($event)" [options]="Friday" [(ngModel)]="selectedFri" placeholder="Select View Option"></p-dropdown>       
                        </div>
                        <p-chart #chart type="bar" [data]="data2" width="93vw" height="87vh"></p-chart>
                        <!-- <div>
                            <p-calendar [(ngModel)]="date1" [showIcon]="true" ></p-calendar>
                        </div> -->
                        </ng-template>
                    </p-tabPanel>
                    <p-tabPanel header="LINE GRAPH">
                        <p-dropdown (onClick)="setchoose();soft($event)" [options]="Mode" [(ngModel)]="selectedModel" placeholder="Select a Mode"></p-dropdown>
                        <div *ngIf="choose===false; else dhairya2">
                        <!-- <p>Dhairya 2</p> -->
                        </div>
                        <ng-template #dhairya2>
                        <div *ngIf="toll===true">
                             <p-dropdown (onClick)="soft($event)" [options]="Friday" [(ngModel)]="selectedFri" placeholder="Select View Option"></p-dropdown>       
                        </div>
                        <p-chart #chartline type="line" [data]="data2" width="93vw" height="87vh"></p-chart>
                        <!-- <div>
                            <p-calendar [(ngModel)]="date1" [showIcon]="true" ></p-calendar>
                        </div> -->
                        </ng-template>
                    </p-tabPanel>
                </p-tabView>
            </p-tabPanel>
        </p-tabView>
    </div>
<!-- </ng-template> -->
<!-- *appGraphDir  -->