<!-- <div class="calen">
    <h4>Filter By Time Range</h4>
    <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" [showIcon]="true"></p-calendar>
    <p>{{ rangeDates }}</p>
</div> -->
 <!-- <div class="drange">
    <h4>Filter By Group</h4>
    <p-dropdown [options]="datesmodef" [(ngModel)]="selectedDate" placeholder="-- Select --" optionLabel="name"></p-dropdown>
  </div> -->
<!-- <button class="sbut" (click)="cd.sendSelected(); cd.sendSelectedSector(); sendDatesGrid(); sendDates()"><b>Apply</b></button>
<app-company-drop #cd></app-company-drop> -->
