<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

<body>

<div class="citi-blue-bar" >
    <div class="container">		
      <div class="citi-logo">			
        <a href="//www.citigroup.com/citi/"><img src="assets/img/logo-citi.jpg"></a>	
        <div class="centered"><b>Covid-19 Impact Analysis By Citi (CPT)</b></div>	
      </div>	
    </div>
</div>

<div class="jumbotron jumbotron-fluid" style="border: 4px solid; height: fit-content; border-color: black; width:97%; padding: 15px; border-radius: 6px; float: left; margin:20px">

      <div class="jumbotron jumbotron-fluid" style="border: 1.5px solid; height: 350px; border-color: black; width:49%; padding: 15px; border-radius: 6px; float: left; margin:5px">
        <h4>Filter By Company</h4>
        <app-filter-list></app-filter-list>
      </div>

      <div class="jumbotron jumbotron-fluid" style="border: 1.5px solid; height: 350px; border-color: black; width:49%; padding: 15px; border-radius: 6px; float: right; margin:5px">
        <h4>Filter By Sector</h4>
        <app-filter-sector></app-filter-sector>
      </div>

      <div class="jumbotron jumbotron-fluid" style="border: 1.5px solid; border-color: black; width:49%; padding: 15px; border-radius: 6px; float: left; margin:5px">
        <h4>Filter By Date Range</h4>
        
        <p-dropdown [options]="dates" [(ngModel)]="selectedDate" placeholder="-- Select --" optionLabel="name"></p-dropdown>
      </div>

      <div class="jumbotron-fluid" style="border: 1.5px solid; border-color: black; height: 127px;width: 49%; padding: 15px; border-radius: 6px; float: right; margin: 5px">
        <h4>Select what data you wish to view on your graph.</h4>
        <button [disabled]="sectorVals!=='' && listVals!=='' ">Stock Price</button>
        <button [disabled]="sectorVals!=='' && listVals!=='' ">Volume </button>
      </div>

      <div class="jumbotron-fluid" style="border: 1.5px solid; border-color: black; height: 238px; width: 49%; padding: 15px; border-radius: 6px; float: left; margin: 5px">
        <h4>Select a Ticker to view Volume Information</h4>
        <app-avgvol></app-avgvol>   
      </div>

      <div class="jumbotron-fluid" style="border: 1.5px solid; border-color: black; height: 238px; width: 49%; padding: 15px; border-radius: 6px; float: right; margin: 5px">
        <h4>Select a Ticker to view Stock Price Information</h4>
        <app-avgstock></app-avgstock>
      </div>

      <div class="jumbotron-fluid" style="border: 1.5px solid; border-color: black; height: 238px; width: 49%; padding: 15px; border-radius: 6px; float: left; margin: 5px">
        <h4>Select a Sector to view Volume Information</h4>
        <app-avgvolsec></app-avgvolsec>   
      </div>

      <div class="jumbotron-fluid" style="border: 1.5px solid; border-color: black; height: 238px; width: 49%; padding: 15px; border-radius: 6px; float: right; margin: 5px">
        <h4>Select a Sector to view Stock Price Information</h4>
        <app-avgstocksec></app-avgstocksec>
      </div>


</div>
<hr>
<br>
<hr>
<h1>GRID:USING DUMMY DATA</h1>
<app-grid-base></app-grid-base>
<br>
<hr>
<br>
<hr>
<h1>GRAPH:USING THE SAME DUMMY DATA</h1>
<app-bar-graph></app-bar-graph>
    </body>

</html>


