.citi-blue-bar {
    height: 70px;
    background: url("src/assets/img/bluebar.jpg") repeat-x;
    
}

.citi-logo {
    
    position: relative;
    z-index: 2500;
}

.logo{
    width: 100px;
    height: 70px;
}

img{
    height: 86px;
    width:150px;
    float: left;
}

.centered {
    position: absolute;
    margin-top:40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    color: midnightblue;
  }


h4{
    margin-top:0px;
}

.Input-Bar{
     height:70px;
     background-color: lightgray;
     color:white;
     margin-bottom: 0px;
}

.drange{
        position:absolute;
        float:left;
        width:15%;
        margin-left:880px;
        margin-top:0px;
        }


button{
    margin-left: 200px;
    margin-right: 20px;
    border-radius: 6px;
    border: 2px solid lightblue;
    transition-duration: 0.4s;
}
  

.Tabs{
    position:absolute;
    margin-top:0px;
}

button:hover {
    background-color: dodgerblue; 
    color: white;
  }
h1{
     font-family: "Times New Roman";
      text-align: center;
}
