<body>
    
    <input class="searchIn" type="text" (keyup)="filterList()" placeholder="Search for sectors..">
    <input class="sbutton" type="submit" value="Select" style="margin:10px; align-self: center;">
    <nav>
        <ul class="listOfSectors">
            <li id="BI">BASIC INDUSTRIES</li>
            <li id="CG">CAPITAL GOODS</li>
            <li id="CN">CONSUMER NON-DURABLES</li>
            <li id="CS">CONSUMER SERVICES</li>
            <li id="EN">ENERGY</li>
            <li id="FI">FINANCE</li>
            <li id="HC">HEALTH CARE</li>
            <li id="MC">MISCELLANEOUS</li>
            <li id="PU">PUBLIC UTILITIES</li>
            <li id="TE">TECHNOLOGY</li>
            <li id="TR">TRANSPORTATION</li>
        </ul>
    </nav>	

    </body>