<body>
    
    <input class="searchIn" type="text" (input)="filterList()" placeholder="Search for sectors.."
    [(ngModel)]="sectorVals">


    <nav>
        <ul class="listOfSectors">
            <li id="BI" (click)="addServers1($event)" >BASIC INDUSTRIES</li>
            <li id="CG" (click)="addServers2($event)" >CAPITAL GOODS</li>
            <li id="CN" (click)="addServers3($event)" >CONSUMER NON-DURABLES</li>
            <li id="CS" (click)="addServers4($event)" >CONSUMER SERVICES</li>
            <li id="EN" (click)="addServers5($event)" >ENERGY</li>
            <li id="FI" (click)="addServers6($event)" >FINANCE</li>
            <li id="HC" (click)="addServers7($event)" >HEALTH CARE</li>
            <li id="MC" (click)="addServers8($event)" >MISCELLANEOUS</li>
            <li id="PU" (click)="addServers9($event)" >PUBLIC UTILITIES</li>
            <li id="TE" (click)="addServers10($event)" >TECHNOLOGY</li>
            <li id="TR" (click)="addServers11($event)" >TRANSPORTATION</li>
        </ul>
    </nav>	
    <p style="margin-top:0px;  margin-left:350px">Selected Sectors:</p>
    <div class="jumbotron jumbotron-fluid" style="border: 1px solid; height: 200px; border-color: black; padding:0px; border-radius: 6px; float: left; margin-left:350px; margin-top:0px;
    width:15%">
        <div class="sel">
        <li style="list-style-type:circle;" *ngFor="let server of serverLists">
          {{ server }}
        </li>
        </div>
    </div>
    </body>